recognition/MRI_TimothyTjipto/bin/FUCKYOUMOM.png
recognition/MRI_TimothyTjipto/bin/lol.png
recognition/MRI_TimothyTjipto/bin/Note.txt
recognition/MRI_TimothyTjipto/bin/TEST.ipynb
recognition/MRI_TimothyTjipto/bin/test2.ipynb
recognition/MRI_TimothyTjipto/bin/Test3.ipynb
recognition/MRI_TimothyTjipto/bin/Tester3.ipynb
recognition/MRI_TimothyTjipto/bin/visualise_batch.png
